{% extends 'bookstore-templates/dashboard.html' %}




{% block content %}

<h1 class="pt-5 pl-5">Books</h1>
<div class="container">
    <table class="table">
        <thead>
          <tr>

            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Urlr</th>
          </tr>
        </thead>
        <tbody>
         
            {% for item in books %}
             <tr>
            <td>{{item.name}}</td>
            <td>{{item.tag}}</td>
            <td>{{item.url}}</td>
             </tr>
            {% endfor %}
          

        </tbody>
      </table>

</div>


{% endblock %}